body {
  // background: radial-gradient(#f1f1f1, #acacac);
  //   background: radial-gradient(#e66465, #9198e5);
  // background: #fff;
  background-repeat: no-repeat;
  background-color: #000;
  // background-image: radial-gradient(#17141d, #fff) !important;
  // height: 100vh;
  overflow-x: hidden;
}
#particle-bg {
  position: fixed;
  z-index: -3;
  height: 100vh;
  left: 0;
  right: 0;
}

#nav-bar {
  position: fixed;
  z-index: 5;
}
.hackerz-brand {
  font-size: 1.2em;
  position: relative;
  top: 18px;
}
