body {
  background: radial-gradient(#f1f1f1, #acacac);
  //   background: radial-gradient(#e66465, #9198e5);
  // background: #fff;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}
#logo {
  max-height: 400px;
}
#log-reg-body{
  box-shadow: 0px 0px 13px #212121;
}
#logo-container {
  filter: invert(100%);
  height: 90vh;
}
#timer{
  font-size: 2rem;
}
.nav-item{
  color: #0a557b !important;
}
.nav-item{
  margin-right: 20px;
}
#particle-bg{
  position: fixed;
  z-index: -3;
  height: 100vh;
  left: 0;
  right: 0;
}

div#topDiv {
  width: 100%;
  height: 0%;
  opacity: 0.9;
  background: black;
  position: absolute;
  top: 0%;
}
div#bottomDiv {
  width: 100%;
  height: 0%;
  opacity: 0.9;
  background: black;
  position: absolute;
  bottom: 0%;
}
div#centerDiv {
  position: absolute;
  height: 1px;
  top: 50%;
  width: 100%;
  background: white;
  display: none;
  z-index: 1;
}
.nav-link{
  color: #0a557b;
  cursor: pointer;
}

// .modal-dialog{
//   background: radial-gradient(#f1f1f1, #acacac);
// }
body.modal-open .container-fluid{
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
  // filter: url("https://gist.githubusercontent.com/amitabhaghosh197/b7865b409e835b5a43b5/raw/1a255b551091924971e7dee8935fd38a7fdf7311/blur.svg#blur");
filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}
$primaryColor: #fff;
$secondaryColor: #333;
$steps: 20;
.glitch {
  position: relative;
  margin: 0 auto;
  color: $primaryColor;
  // font-size: 80px;
  font-family: "Exo", sans-serif;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.01em;
  transform: scale3d(1, 1, 1);

  &::before,
  &::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background: $secondaryColor;
    color: $primaryColor;
    clip: rect(0, 900px, 0, 0);
  }

  &::before {
    left: 7px;
    text-shadow: 1px 0 green;
    animation: glitch-effect 3s infinite linear alternate-reverse;
  }

  &::after {
    left: 3px;
    text-shadow: -1px 0 red;
    animation: glitch-effect 2s infinite linear alternate-reverse;
  }
}

@keyframes glitch-effect {
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.mat-input-outer{
  display: table;
  position: relative;
  margin: 22px;
}
.mat-input-outer input{
  height: 50px;
  border-radius: 3px;
  border: none;
  width: 100%;    
  padding: 0 15px;
  // font-size: 20px;
}
.mat-input-outer input:focus{
  border: 2px solid #0a557b;

}
.mat-input-outer label{
  font-size: 14px;
  left: 15px;
  position: absolute;
  top: 18px;
  transition: .2s;
  color: #000;
  cursor: text;
  font-weight: normal;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.mat-input-outer .border{
  height: 1px;
  background: #000;
  transition: .3s;
  -webkit-transition: .3s;
  -ms-transition: .3s;
}
.mat-input-outer .border::before{
  content: " ";
  display: table;
  height: 3px;
  width: 0%;
  background: transparent;
  transition: .3s;
  -webkit-transition: .3s;
  -ms-transition: .3s;
  margin: 0 auto;
}
.mat-input-outer input:focus ~ .border{
  background: transparent;
}
.mat-input-outer input:focus ~ .border::before{
  width: 100%;
  background:#0a557b;
}
.mat-input-outer input + label.active{
  left: 5px;
  top: -25px;
  color: #0a557b;
  opacity: 1;
  filter: alpha(opacity=100);
}
$purple: #0a557b;
$red: #e74c3c;
.btn2 {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 1.5px solid $purple;
  border-radius: 4px;
  cursor: pointer;
  display: inline;
  align-self: center;
  font-size: 1rem;
  margin: 20px;
  padding: 12px;
  text-decoration: none;
  text-align: center;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}

.fifth {
  border-color: $purple;
  // border: 0;
  border-radius: 5px;
  color: $purple;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: color 150ms ease-in-out;
  
  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background: $purple;
    z-index: -1;
    transition: width 150ms ease-in-out;
  }
  
  &:hover {
    color: #fff;
    &:after {
      width: 110%;
    }
  }
}
